#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.select-gamemode-buttons {

    position: absolute;
    align-self: center;

    top: 66.67%;
}

#select-singleplayer {
    left: 33.33%;
}

#select-multiplayer {
    right: 33.33%;
}